.env
monitor_de_lives_ao_vivo/dados
scripts_auxiliares_e_extras/lives_gravadas_streamers
scripts_auxiliares_e_extras/relatorio_lives_calvoesfera
scripts_auxiliares_e_extras/videos_referencias_calvoesfera